*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
TvLib/build/
app/src/main/java/com/ccdt/app/tv/mvpdemo/presenter/someActivity2/
/core/build/


